apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: demo-app-dev
namespace: demo-app-dev
nameSuffix: -dev
resources:
- ../../bases/demo-app
- namespace.yaml
# transformers:
# - labels.yaml
replicas:
- count: 1
  # name of deployment
  name: hello-eks-a
## if this image used, replace it with this tag
# images:
# - name: gbaeke/flux-rt
#   newTag: sha-11e921f